In [3]:
#variables
x=5
x

5

In [2]:
Ogul=10
Ogul

10

In [3]:
x # your result to see

5

In [4]:
y=8

In [5]:
Y=5

In [7]:
Y==8

False

In [7]:
# you can use print command to execute the code
print(y)

8

In [2]:
x,y,z =(1,2,3)

In [3]:
x

1

In [10]:
y

2

In [4]:
z

3

In [12]:
x1 = 5
type(x1)

int

In [13]:
x2 = 4.3
type(x2)

float

In [15]:
#transform any value using int()
int(x2)

4

In [16]:
x3 = True
type(x3)

bool

In [5]:
#Strings are for characters
s = 'GU'
s1 = "Ogul"

In [6]:
print(s)

GU

In [8]:
print(s1)

Ogul

In [3]:
y= 1000000000000000
print ( str(y) + ' Rubles' )

1000000000000000 Rubles

In [24]:
'I\'m so good at programming'

"I'm so good at programming"

In [25]:
'blue' + ' car'

'blue car'

In [9]:
3,5,3,2,3.4,'cat'

(3, 5, 3, 2, 3.4, 'cat')

In [27]:
1-2

-1

In [28]:
4/4

1.0

In [29]:
5*5

25

In [33]:
int(17/3)

5

float(17/3)

In [12]:
177 %4

1

In [13]:
x = 5*4

In [14]:
5**3

125

In [21]:
z

625

In [20]:

z == 5**4  # this a comparison not assignment use 1 equal sign for assignment

True

In [19]:
z=625
z

625

In [22]:
z=3
z

3

In [41]:
z #python always reassigns values

3

In [42]:
 # hASH sign for comments

In [43]:
"Friday"   # in programming you start from 0
#fourth letter will be "d"

'Friday'

In [44]:
"Friday"[4]

'a'

In [23]:
# you use indentation in python !
def five(x):
    x = 4 * x  # white space equals to 1 tab ( tab button)
    return x
print(five(10))
# to use indentation use 1 tab

IndentationError: expected an indented block (<ipython-input-23-15c953bb572b>, line 3)

In [24]:
10 == 20 /3

False

In [25]:
100 > 333

False

In [26]:
15!= 5

True

In [27]:
15<=4

False

In [28]:
1>=3

False

In [29]:
True or False

True

In [30]:
False and False

False

In [31]:
False or True # 0  1

True

In [32]:
True or True

True

In [33]:
True and False

False

In [34]:
not False

True

In [35]:
3 > 3 and 10 < 20

False

#order of those operations (PRIORITIES)
NOT 
AND
OR

In [65]:
True or False and True

True

In [36]:
#identitiy operations    is    is not
 4 is 5

False

In [37]:
5 is 5

True

In [68]:
1 is not 4

True

In [69]:
if 5== 15 / 3:
    print('True')

True

In [71]:
if 5== 15 / 2:
    print('True')
#prints nothing beacuse you need to explain everything as if its a child

In [74]:
x=3444
if x >3:
    print ('case 1')
if x >10 or x < 40:
    print( 'case 2')
elif x>=40:
    print ('case 3')
else:
    print('case 4')

#everything you need about if statements

case 1
case 3

In [42]:
def yourFunction(x):
    if x >3:
        print ('case 1')
    if x >10 and x < 40:
        print( 'case 2')
    if x>=40:
        print ('case 3')
    else:
        print('case 4')

#everything you need about if statements

In [43]:
yourFunction(3444)

case 1
case 3

In [44]:
def plusTwelve(a):
    return a +12

In [46]:
plusTwelve(22)

34

In [10]:
#function inside a function
def wage(hours):
    return hours * 30

def withBonus(hours):
    return wage(hours) + 50

In [87]:
wage (8), withBonus(40)

(240, 1250)

In [88]:
40 * 30 + 50

1250

In [89]:
z = -20
abs(z) #built in functions

20

In [90]:
list1 = [1,2,3,4]
sum(list1)

10

In [91]:
round(2.3)

2

In [47]:
pow(2,5)

32

In [49]:
participants = ['John','Jason','Jacobian']
participants  # a list

['John', 'Jason', 'Jacobian']

In [50]:
print(participants[1])

Jason

In [51]:
participants[-1]

'Jacobian'

In [52]:
participants.append('George')
participants

['John', 'Jason', 'Jacobian', 'George']

In [53]:
participants.extend(['George', 'Catherine'])
participants  # list elements are directly treated as strings

['John', 'Jason', 'Jacobian', 'George', 'George', 'Catherine']

In [54]:
len(participants)

6

In [55]:
#list slicing , you can use when you have bigger data

In [60]:
participants[:3]  # first three

['John', 'Jason', 'Jacobian']

In [61]:
participants[2:] # last four

['Jacobian', 'George', 'George', 'Catherine']

In [62]:
newcomers =['Ahmed','Kemal']
newcomers

['Ahmed', 'Kemal']

In [63]:
bigList = [participants,newcomers]

In [18]:
bigList

[['John',
  'Jason',
  'Jacobian',
  'George',
  'George',
  'George',
  'George',
  'Catherine'],
 ['Ahmed', 'Kemal']]

In [65]:
bigList[1]

['Ahmed', 'Kemal']

In [67]:
numbers = [1,2,3,4,5]
numbers.sort()
numbers

[1, 2, 3, 4, 5]

In [68]:
numbers.sort(reverse=1)
numbers

[5, 4, 3, 2, 1]

In [29]:
#tuples, immutable you cannot change them later
x= (40,3,23)
x

(40, 3, 23)

In [32]:
x[2]

23

In [24]:
#functions can provide tuples as return values

In [26]:
def squareInfo(x):
    A=x**2
    P=4*x
    print ('Area and perimeter')
    return A,P

squareInfo(3)

Area and perimeter

(9, 12)

In [33]:
d1 = {'a1': 'cat', 'a2': 'dog', 'a3': 'raccoon'}
d1

{'a1': 'cat', 'a2': 'dog', 'a3': 'raccoon'}

In [31]:
d1['a1']

'cat'

In [32]:
print(d1['a1'])

cat

In [33]:
#for loops

even = [0,2,4,6,8,10,12,14,16,18,20]

In [34]:
for n in even:  
    print(n)

0
2
4
6
8
10
12
14
16
18
20

In [36]:
#while loop
x=0
while x<=20:
    print(x, end = ' ')
    x= x +1 #incrementing

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [34]:
#use range() function to create lists
# range(start, stop, step)
x=list(range(0,10,2))
x

[0, 2, 4, 6, 8]

In [35]:
for n in range(10):
    print( 2**n, end = ' ')  # this code end = ''  gives output in a single line

1 2 4 8 16 32 64 128 256 512

In [48]:
for  x in range(20):
    if x % 2 ==0:
        print(x)
    else:
        print ('odd')

0
odd
2
odd
4
odd
6
odd
8
odd
10
odd
12
odd
14
odd
16
odd
18
odd

In [40]:
x = [0,1,2]

In [41]:
for Anton in x:
    print(Anton)

0
1
2

In [42]:
for item in range(len(x)):
    print(x[item], end = '')

012

In [43]:
def count(numbers):
    total = 0 
    for x in numbers:
        if x < 20:
            total = total + 1
    return total

In [44]:
list1 = [1,2,3,4,5,645,67,23,21]

In [45]:
count(list1) # checks how many numbers i have in a list that is smaller than 20

5

In [46]:
#iterating over a dictionary

prices = {
    'spaghetti': 4,
    'lasagna':5,
    "hamburger": 2
    
}
quantity = {
    'spaghetti': 6,
    'lasagna': 10,
    "hamburger": 0
    
    
}
money_spent = 0
for i in prices:
    money_spent = money_spent +( prices[i] * quantity[i])
print(money_spent)

74